<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <ConnectionType>SQL Server</ConnectionType>
  <ServerName>localhost</ServerName>
  <DatabaseName>AdventureWorks2016</DatabaseName>
  <AuthenticationType>Integrated</AuthenticationType>
  <UserName />
  <Password />
  <BCPOutputFolder>C:\TEMP\AdventureWorks2016</BCPOutputFolder>
  <BCPOutputFormat>Unicode</BCPOutputFormat>
  <AzureStorageAccount>vellabadlstorage</AzureStorageAccount>
  <AzureContainer>data-load</AzureContainer>
  <AzureStorageKey>MzloR3K77WT+iA/51v7ESOYSnrRcyAWb5vxEcatDrYJPnM60k5Hs5lrnQ7qkCoLwxMldl/iwGq9AL9gVMivhcw==</AzureStorageKey>
  <File7Zip>C:\Program Files\7-Zip\7z.exe</File7Zip>
  <FileAZCopy>C:\Program Files (x86)\Microsoft SDKs\Azure\AzCopy\AzCopy.exe</FileAZCopy>
</Configuration>