<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLDwGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLDwGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SQLDwGenerator.Properties.Settings>
            <setting name="ApplicationFolder" serializeAs="String">
                <value>C:\SQLDwGenerator</value>
            </setting>
            <setting name="BCPOptions" serializeAs="String">
                <value>-q</value>
            </setting>
            <setting name="ColumnDelimiter" serializeAs="String">
                <value>|~|</value>
            </setting>
            <setting name="AddCharactersForCRLF" serializeAs="String">
                <value>1000</value>
            </setting>
        </SQLDwGenerator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SQLDwGenerator.Properties.Settings>
            <setting name="AzCredentialName" serializeAs="String">
                <value>AzStorageCredential</value>
            </setting>
            <setting name="AzBLOBDataSourceName" serializeAs="String">
                <value>AzStorageBLOBDataSource</value>
            </setting>
            <setting name="AzFileFormatCompressed" serializeAs="String">
                <value>AzStorageFFTextGz</value>
            </setting>
        </SQLDwGenerator.Properties.Settings>
    </userSettings>
</configuration>