<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="ConfigurationFile" value="" />
    <add key="BCPRowCountOverRide" value="10000" />
    <add key="StageSchemaName" value="stg" />
    <add key="PersistentSchemaName" value="psa" />
    <add key="HashAlgorithm" value="SHA2_512" />
    <add key="SQLSourceSystemName" value="OpenAirExtract" />
    <add key="CombinedHashColName" value="DWHashKey" />
  </appSettings>
</configuration>